<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
  <div> You have successfully started your Typescript application using Webpack. Open your console to see your printed message from the index.ts file </div>
  <p>By <a href="https://twitter.com/renaudin_yann">@renaudin_yann</a> </p>

  <div id = "info">

  </div>

  <button id="refresh" type="button" class="btn btn-info">refresh</button>

  <button id="init" type="button" class="btn btn-info">InitL2</button>

  <button id="deposit" type="button" class="btn btn-info">User Deposit</button>

  <button id="withdraw" type="button" class="btn btn-info">User Withdraw</button>

  <button id="coclose" type="button" class="btn btn-info">User Cooperative Settle</button>
  <button id="coclose2" type="button" class="btn btn-info">Cooperative Settle STEP 2</button>

  <button id="forceClose" type="button" class="btn btn-info">forceClose</button>

  <button id="transfer" type="button" class="btn btn-info">transfer</button>

  <button id="guardTransfer" type="button" class="btn btn-info">guardTransfer</button>


  
</body>

</html>